[submodule "llvm-z80"]
	path = llvm-z80
	url = git@github.com:ravn/llvm-z80.git
[submodule "rc700-gensmedet"]
	path = rc700-gensmedet
	url = git@github.com:ravn/rc700-gensmedet.git
[submodule "z88dk"]
	path = z88dk
	url = git@github.com:ravn/z88dk.git
